/.cache
/.changeset
/.git
/.husky
/.idea
/.scannerwork
/.vscode
/assets
/coverage
/dist
/node_modules
/public
!public/index.html
/test
.gitignore
.prettierignore
.prettierrc
bun.lockb
package-lock.json
pnpm-lock.yaml
yarn.lock
*.graphql
.graphqlconfig
*.snap
*.txt
*.back
*.yml
*.yaml
